html,
body {
    overflow-x: hidden;
}

body {
    position: relative
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    overflow-y: clip;
    padding-bottom: 100px;
}

@media (max-width: 800px) {
    .content {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1000px) {
    .content {
        width: 70%;
        max-width: 1000px;
    }
}

.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rows {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: space-between;
}

@media (max-width: 600px) {
    .header_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .header_grid>* {
        width: 100%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;
}

@media (max-width: 460px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 100%);
    }
}

.phone_grid {
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-around;
}

img {
    width: 100%;
    border-radius: var(--border-radius);
}

.centered {
    text-align: center;
}

.centered_vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.centered {
    width: 100%;
}

h3.centered {
    width: 100%;
}

p.centered {
    text-align: center;
    width: 100%;
}

.inline_block {
    display: inline-block;
}

.slanted_5 {
    z-index: -1;
    rotate: 5deg;
}

.slanted_5>* {
    rotate: -5deg;
}

.slanted_-10 {
    z-index: -1;
    rotate: -10deg;
}

.slanted_-10>* {
    rotate: 10deg;
}

.overlap_down_200px {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

.full_width {
    width: 100vw;
    translate: -30%;
}

.full_width.slanted {
    width: 150vw;
}

.full_width>* {
    translate: 30%;
}

.spacer_small {
    height: 20px;
}

.spacer_medium {
    height: 50px;
}

.spacer_large {
    height: 100px;
}