body {
    --dark-red: rgb(163, 41, 47);
    --muted-red: rgb(238, 79, 87);
    --red: rgb(255 67 76);
    --pitch-black: rgb(12 12 12);
    --black: #1b1b1c;
    --dark-gray: rgb(32, 32, 32);
    --gray: rgb(169 169 169);
    --white: white;
    --link-blue: #75b2fd;
    --cyan: rgb(18, 227, 255);
    --shadow: rgba(0, 0, 0, 0.2);

    --border-radius: 10px;
    --margin-bottom: 20px;
}